<template>
  <div>
    <h1>Tableau de bord</h1>
    <CourseList />
    <Attendance v-if="isStudent" />
  </div>
</template>

<script>
import CourseList from "@/components/CourListComponent.vue";
import Attendance from "@/components/AttendanceComponent.vue";

export default {
  components: {
    CourseList,
    Attendance,
  },
  data() {
    return {
      isStudent: true, // Ceci est juste un exemple. Vous pourriez le déterminer en fonction des données de connexion ou d'un store Vuex
    };
  },
};
</script>
