<template>
  <div>
    <h1>Bienvenue sur le système de gestion de présence</h1>
    <Login @loggedIn="handleLogin" />
  </div>
</template>

<script>
import Login from "@/components/LoginComponent.vue";

export default {
  components: {
    Login,
  },
  methods: {
    async handleLogin(userData) {
      console.log("Received user data in handleLogin:", userData);
      await this.$store.dispatch("userLogin", userData);
      this.$router.push("/dashboard");
    },
  },
};
</script>
