<template>
  <div>
    <h2>Sign Attendance</h2>
    <select v-model="selectedCourse">
      <option v-for="course in courses" :key="course.id" :value="course.id">
        {{ course.title }}
      </option>
    </select>
    <button @click="signAttendance">Sign</button>
  </div>
</template>

<script>
import api from "@/apiAttendance.js";
import api1 from "@/apiCourse.js";

export default {
  data() {
    return {
      courses: [], // à remplir à partir de votre API
      selectedCourse: null,
    };
  },
  methods: {
    async signAttendance() {
      try {
        await api.post("/attendance", {
          courseId: this.selectedCourse,
          // Vous pourriez également avoir besoin d'autres informations, comme l'ID de l'étudiant, etc.
        });

        alert("Présence signée avec succès !");
      } catch (error) {
        console.error("Erreur lors de la signature de la présence:", error);
      }
    },
  },
  async mounted() {
    try {
      const response = await api1.get("/courses");

      this.courses = response.data;
    } catch (error) {
      console.error("Erreur lors de la récupération des cours:", error);
    }
  },
};
</script>
