<template>
  <div>
    <h2>Courses</h2>
    <ul>
      <li v-for="course in courses" :key="course.id">{{ course.title }}</li>
    </ul>
  </div>
</template>

<script>
import api from "@/apiCourse.js";
export default {
  data() {
    return {
      courses: [], // à remplir à partir de votre API
    };
  },
  async mounted() {
    try {
      const response = await api.get("/courses");
      this.courses = response.data;
    } catch (error) {
      console.error("Erreur lors de la récupération des cours:", error);
    }
  },
};
</script>
