<template>
  <div>
    <h2>Login</h2>
    <input v-model="username" placeholder="username" />
    <input v-model="password" type="password" placeholder="Password" />
    <button @click="loginUser">Login</button>
  </div>
</template>

<script>
import api from "@/api.js";
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    async loginUser() {
      try {
        const response = await api.post("/login", {
          username: this.username,
          password: this.password,
        });
        console.log("Login response:", response.data.token);

        localStorage.setItem("token", response.data.token);
        console.log("Login user:", response.data);
        this.$emit("loggedIn", response.data);
      } catch (error) {
        console.error("Erreur lors de la connexion:", error);
      }
    },
  },
};
</script>
