<template>
  <div id="app">
    <nav>
      <router-link to="/">Accueil</router-link>
      <router-link v-if="!isLoggedIn" to="/login">Connexion</router-link>
      <router-link v-if="isLoggedIn" to="/dashboard"
        >Tableau de bord</router-link
      >
      <button v-if="isLoggedIn" @click="logout">Déconnexion</button>
    </nav>

    <router-view />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
  methods: {
    ...mapActions(["userLogout"]),
    async logout() {
      localStorage.removeItem("token");
      await this.userLogout();
      this.$router.push("/");
    },
  },
};
</script>

<style>
/* Vous pouvez ajouter des styles pour le formatage de la barre de navigation et d'autres éléments globaux ici. */
nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}
</style>
